body div {
    background-color: green
}

/*设置元素类别样式，多重限定，使用空格连接*/

.hintclass {
    display: inline;
    float: left;
    left: 30%;
    height: 35%;
    width: 70%;
    color: white
}

/*设置样式类样式*/

#hint1 {
    display: inline;
    float: left;
    height: 20%;
    width: 70%;
    left: 30%;
    background-color: aqua
}

/*设置指定id样式*/